<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="student" class="bean.Student"
        p:name="tanglintao"
          p:age="27"
          p:city="shenzhen"
          p:car-ref="car"
    >
        <property name="hobbys">
            <list>
                <value>pingpong</value>
                <value>basketball</value>
                <value>teniness</value>
            </list>
        </property>

    </bean>

    <bean id="car" class="bean.Car"
        p:band="pro"
          p:color="gray"
    />


<!--    事件监听相关的注解-->

    <bean id="helloworld" class="springEvent.bean.HelloWorld" p:message="hello world ..."/>

    <bean id="cstartEventHandle" class="springEvent.bean.CStartEventHandle"/>
    <bean id="cstopEventHandle" class="springEvent.bean.CStopEventHandle"/>


</beans>